/* CSS Document */

#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;  
}
 
#twitter-feed {
    width:166px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:60px;
    padding:8px 10px 12px 10px;
    border-radius:12px;
    overflow:auto;
    position: absolute;
    top:30px;
    left:5px;
}


#twitter-feed p {
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF;
}
 
#twitter-feed h1 {
    margin:0px;
    padding:9px 0px 9px 0px;
    font-size:18px;
    font-family: "VAG Rounded W01 Regular",sans-serif;
  font-weight: 400;
    color: #bad536;    
}

#twitter-feed span {
    font-family: Arial, Helvetica, sans-serif;
}
#twitter-header {
	position:relative;
	z-index:2;
	border-bottom:1px dotted #CCC;
}

.tweets-container {
	width:100%;
	overflow:hidden;
	position:relative;	
}
 
.twitter-article, #loading-container {
    width:100%;
    float:left; 
    padding:8px 0px 8px 0px;
	position:relative;
} 

.twitter-article {
	position:absolute;
	border-bottom:1px dotted #CCC;
	top:0px;
}

.twitter-pic {
    position:absolute;
}
 
.twitter-pic img {
    float:left;
    border-radius:7px;  
    border:none;
     
}
 
/* -------- TEXT STYLING ------*/
.twitter-text {
    width:100%;
    float:left;
    font-size:11px;
    padding-left:25px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.twitter-text p {
    margin:0px;
    line-height:15px;   
}
.twitter-text a,  h1 a {
    color: #bad536;
    text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
    color: #bad536;
}
 
.tweet-time {
    font-size:10px;
    color: #bad536;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
    color: #bad536;
}
 
.tweetprofilelink a {
    color: #bad536;
}
.tweetprofilelink a:hover {
    color: #bad536;
}
 
/* -------- FEED  ACTIONS ------*/
#twitter-actions {
    width:75px;
    float:right;
    margin-right:5px;   
    margin-top:3px;
        display:none;
}
.intent {
    width:25px;
    height:16px;
    float:left; 
}
.intent a{
    width:25px;
    height:16px;
    display:block;
    background-image:url(../images/tweet-actions.png);
    float:left; 
} 
.intent a:hover{
    background-position:-25px 0px;
} 
 
#intent-retweet a{
    background-position:0px -17px;
} 
#intent-retweet a:hover{
    background-position:-25px -17px;
} 
#intent-fave a{
    background-position:0px -36px;
} 
#intent-fave a:hover{
    background-position:-25px -36px;
} 
 
/* -------- RETWEET INDICATOR ------*/
#retweet-indicator {
    width:14px;
    height:10px;
    background-image:url(../images/tweet-actions.png);
    background-position:-5px -54px;
    margin-top:3px;
    float:left;
}

.backlink {
	font-size:11px;
	text-align:center;
}

.backlink a {
	color:#aaa;
}
