@font-face {
    font-family: 'VAG Rounded W01 Regular'; /*a name to be used later*/
    src: url('VAGRoundedBold.ttf'); /*URL to font*/
}

#timetable{
float:left;
position: absolute;
top:7px;
left:827px;
width:186px;
}

#posters{
float:left;
position: absolute;
width:477px;
}

.site-header-wrapper {
position: absolute;
left:0;
top:0;
background-color: #fff;
z-index: 25;
min-height: 32px;
line-height: 32px;
margin: 0 0 0 0;
width: 100%;
color: #666;
height: 43px;
}

.site-footer-wrapper {
overflow: visible;
}

.site-footer-wrapper {
background: #f1f1f1;
box-shadow: 0 -2px 3px rgba(0,0,0,0.25);
height: 50px;
}

.tabscontent {

font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 9px;
color: #fff;
text-transform: uppercase;
width:605px;
padding: 7px;
position: relative;
padding: 7px;
background: #0b7d85;
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#0b7d85),color-stop(100%,#0d939d));
background: -moz-linear-gradient(top,#0b7d85,#0d939d);
background: -webkit-linear-gradient(top,#0b7d85,#0d939d);
background: linear-gradient(to bottom,#0b7d85,#0d939d);
border-radius: 9px;
box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25),inset 0 -1px 1px 0 rgba(0,0,0,0.2);

color: #fff;
margin-bottom:-18px;
border-radius: 9px 9px 0px 0px;
position: relative;
}

h1
{font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
  font-size: 17px;
}

p{font-size: 13px;
color: #0b7d85;}

#newsfeed { 
width:100%;
position:absolute;  
    left:196px;
    width:562px;
    top:533px;
}

.tt_block .timetable-class header h1, .multipass .timetable-class header h1 {
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 17px;
line-height: 18px;
color: #fff;
text-transform: uppercase;
margin: 0;
}

.tt_block .timetable-class header h2, .multipass .timetable-class header h2 {
font-family: "HelveticaNeueW01-65Medi",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 16px;
color: #bed62f;
margin-top: 0;
}

#newsfeed > div { 
    position: absolute; 

}

#images{
color: #fff;
height:476px;
    position: absolute; 
    top:7px;
    left:191px;
    width:625px;
border: solid 1px #d3511b;
background-color: #e35d25;
border-radius: 9px 9px 9px 9px;
background-size: 100%;
background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#e66e3c),color-stop(100%,#bd4918));
background-image: -moz-linear-gradient(top,#e66e3c,#bd4918);
background-image: -webkit-linear-gradient(top,#e66e3c,#bd4918);
background-image: linear-gradient(to bottom,#e66e3c,#bd4918);
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f5851f),color-stop(100%,#ef5d0e));
background: -moz-linear-gradient(top,#f5851f,#ef5d0e);
background: -webkit-linear-gradient(top,#f5851f,#ef5d0e);
background: linear-gradient(to bottom,#f5851f,#ef5d0e);
}

.site-footer-wrapper {
position: fixed;
width: 100%;
bottom: 0;
left: 0;
z-index: 500;
}

#twitter{
position: absolute; 
    top:99px;
    left:5px;
}

h2 {
font-family: "VAG Rounded W01 Regular",sans-serif;
font-weight: 400;
color: #fff;
text-transform: uppercase;
font-size: 28px;
line-height: 1em;
}

h2{
color: #bad536;
font-size: 21px;
margin-bottom: 1em;
display: block;
}

h3 {
font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;
line-height: 1;
font-weight: 700;
font-size: 17px;
color: #0b7d85;
margin-bottom: .4em;
margin-top: .4em;
}
	
body {
    padding: 0px;
    background-color: #0B7D85;
    background-image: radial-gradient(ellipse closest-side at center center , rgba(89, 206, 198, 0.7) 33.3333%, #0B7D85 100%);
    background-size: 1024px 768px;
    background-position: center 240px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 300px;
}

body {
    font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;

    font-size: 11px;
    line-height: 14px;
}

.tt_block.ghosting, .ghosting.multipass {
opacity: .2;
}

#today{
font-family: "VAG Rounded W01 Regular";
font-size: 17px;
line-height: inherit;
font-weight: normal;
margin: 1em auto;
color: #bed62f;
text-transform: uppercase;
display: inline-block;
}

.tt_block .timetable-class, .multipass .timetable-class {
position: relative;
padding: 9px;

background: #0b7d85;
background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#0b7d85),color-stop(100%,#0d939d));
background: -moz-linear-gradient(top,#0b7d85,#0d939d);
background: -webkit-linear-gradient(top,#0b7d85,#0d939d);
background: linear-gradient(to bottom,#0b7d85,#0d939d);
border-radius: 9px;
box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.25),inset 0 -1px 1px 0 rgba(0,0,0,0.2);
min-height: 107px;
color: #fff;
}

.tt_block .timetable-class header, .multipass .timetable-class header {
padding: 0 9px 9px 0;
position: relative;
border-bottom: dotted 1px #fff;
margin-bottom: 5px;
height: 40px;
max-height: 100px;
overflow: hidden;
}
.content-panel {
background-color: #FFF;
width:590px;
font-size:16px;
padding: 14px;
border-radius: 9px;
margin-top:1px;
color: #333;
overflow: hidden;
}

.logo{
padding:5px;
float:left;
height:20px;
}

.puregymlogo {
position: absolute;
top:7px;
left:5px;
width:186px;
}

h4
{
margin:0;
float:right;
margin:1px;
margin-top:7px;
text-align:right;
display:inline;
font-family: "HelveticaNeueW02-55Roma",Helvetica,Arial,sans-serif;
font-size: 13px;
color: #fff;
padding: 2px;
}

#dateandtime {
position: absolute;
top:724px;
left:820px;
width: 200px;
	padding-right:5px;
	float:right;
	text-align: right;
}

#date {
	font-size:17px;
margin:0px;
}

#time {
	font-size:21px;
	margin:0px;
}

#gymixlogo{
height:36px;
width:400px;
position: absolute;
top:724px;
left:5px;
text-align:left;
float:left;
}

#nowplaying{
	font-size:17px;
	margin:0px;
	padding-top:4px;
}

#songname{
	font-size:18px;
    margin:0px;
}



#timetableblocks {
position: relative;
overflow:hidden;
padding:4px;
}


#advertisments {
width:98%;
position:relative;
padding:1%;
}

#nextup{
width:98%;
position:relative;
padding:1%;
}


